---
import Layout from '../layouts/Layout.astro';

const posts = await Astro.glob('../posts/*.md')
---

<html>
    <Layout title='Blog'>
        <div class="main">
            <h1>Blog</h1>

        <div style="border-bottom: 1px dotted white"></div>
        {posts.map(post => (
            <div style="border-bottom: 1px dotted white;">
                <div style="display: flex;">
                    <a style="color:white;" href={post.frontmatter.slug}><h3>{post.frontmatter.title}</h3></a>
                    <p style="margin-left: auto;">{new Date(post.frontmatter.date).toLocaleDateString()}</p>
                </div>
                <a>(</a>
            {post.frontmatter.tags.map(tag =>(
            <a>{tag},</a>
            ))}
            <a>)</a>
            <p>{post.frontmatter.excerpt}</p>

        </div>
        ))}
                </div>
    </Layout>
</html>

<style>
    .main {
        margin: 20%;
        margin-top: auto;
        mawrgin-bottom: auto;
    }
</style>
