---
import Layout from '../layouts/Layout.astro';

---

<html>
    <Layout title='Blog'>
        <div class="main">
            <h1>Blog</h1>
        </div>

    </Layout>
</html>

<style>
    .main {
        padding: 50px
    }
</style>
