---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import Quotes from '../components/quotes.astro';
---


<Layout title="speeg.me">
<div class="center">
	<pre> 
		 __  __         _  _____ _  _____ _   _ ____  
		|  \/  |       / \|_   _| |/ /_ _| \ | / ___| 
		| |\/| |_____ / _ \ | | | ' / | ||  \| \___ \ 
		| |  | |_____/ ___ \| | | . \ | || |\  |___) |
		|_|  |_|    /_/   \_\_| |_|\_\___|_| \_|____/ </pre>
	
	</div>
	<script type="module" src="src/scripts/main.js"></script>
	
	<h1 class="center">SPEEGHOST</h1>
	
	<div class="center"><Quotes /></div>
	<div class="center" style="margin-bottom: 10px;">
		<!-- <img class="center" src="src/media/bonsai.png" style="display:block; width: auto; height: auto; max-height: 20em;" alt=""> -->
		<!-- <div class="center" style="width: 200px" id="threediv"></div> -->
	</div>
	<div class="intro center" style="padding: 10px; margin-bottom: 10px; max-width: 500px;">
		<p>Hi, I'm Matt. A Computer Science graduate from the United Kingdom (UK badge here) and part-time freelance Software Dev/ Full time tinkerer. 
			I love to try and make my thoughts a reality. I've been through multiple variations of this portfolio site, but the happiest I ever was with the website
			was when it was fast, simple and efficient. Don't you miss web1? </p>
	</div>

	<div class="intro center" style="text-align: left; max-width: 500px;">
		<ul>
			<li>Github: <a href="linkme">linkme</a></li>
			<li>LinkedIn: <a href="linkme">linkme</a></li>
		</ul>
	</div>
	<p class="center">buttons!</p>
	<!-- I want this div to read from a directory of badges - either have filesnames as links or text files with matching names containing urls -->
	<!-- TODO: Two Column Grid for alignment -->
	<div class="flex center" style="max-width: 390px;">
		<img src="src/media/linux.gif" alt="">
		<img src="src/media/linux.gif" alt="">
		<img src="src/media/linux.gif" alt="">
		<img src="src/media/linux.gif" alt="">
		<img src="src/media/linux.gif" alt="">
		<img src="src/media/linux.gif" alt="">
		<img src="src/media/linux.gif" alt="">
		<img src="src/media/linux.gif" alt="">
		<img src="src/media/linux.gif" alt="">
	</div>

	<p class="center">Inspired by <a href="https://fleepy.tv">fleepy.tv</a></p>
</Layout>

<style>

	  .center {
        margin:auto;
        width: 50%;
        text-align: center;
    }
	.intro {
		background-color: purple;
		
		border: 2px solid black;
	}

	canvas {
		width: 50%;
		height: 90px;
	}
	
</style>
