---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import Quotes from '../components/quotes.astro';
---


<Layout title="speeg.me">
	
	
	<!-- <script type="module" src="src/scripts/main.js"></script> -->
	
	<h1 class="center">SPEEGHOST</h1>
	
	<div class="center"><Quotes /></div>
	<div class="center">
		<img class="center" src="src/media/bonsai.png" style="display:block; width: auto; height: auto; max-height: 20em;" alt="">
	</div>
	<div class="intro center">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis fugiat esse, consectetur ullam delectus aut ratione minus minima pariatur ducimus odit amet quaerat itaque sit perspiciatis, tenetur molestias, quae at.
	</div>

	<div class="intro center" style="text-align: left;">
		<ul>
			<li>links: <a href="linkme">linkme</a></li>
			<li>links: <a href="linkme">linkme</a></li>
			<li>links: <a href="linkme">linkme</a></li>
			<li>links: <a href="linkme">linkme</a></li>
		</ul>
	</div>
	<p class="center">buttons!</p>
	<!-- I want this div to read from a directory of badges - either have filesnames as links or text files with matching names containing urls -->
	<div class="flex center">
		<!-- <img src="src/media/linux.gif" alt="">
		<img src="src/media/linux.gif" alt="">
		<img src="src/media/linux.gif" alt="">
		<img src="src/media/linux.gif" alt="">
		<img src="src/media/linux.gif" alt="">
		<img src="src/media/linux.gif" alt="">
		<img src="src/media/linux.gif" alt="">
		<img src="src/media/linux.gif" alt="">
		<img src="src/media/linux.gif" alt=""> -->
	</div>

	<p class="center">Inspired by <a href="https://fleepy.tv">fleepy.tv</a></p>
</Layout>

<style>

	  .center {
        margin:auto;
        width: 50%;
        text-align: center;
    }
	.intro {
		background-color: purple;
		
		border: 2px solid black;
	}
	
</style>
