---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Quotes from '../components/quotes.astro';
---


<Layout title="Index">
	<Quotes />
	<pre>
		________  ________  _______   _______   ________  ___  ___  ________  ________  _________   
		|\   ____\|\   __  \|\  ___ \ |\  ___ \ |\   ____\|\  \|\  \|\   __  \|\   ____\|\___   ___\ 
		\ \  \___|\ \  \|\  \ \   __/|\ \   __/|\ \  \___|\ \  \\\  \ \  \|\  \ \  \___|\|___ \  \_| 
		 \ \_____  \ \   ____\ \  \_|/_\ \  \_|/_\ \  \  __\ \   __  \ \  \\\  \ \_____  \   \ \  \  
		  \|____|\  \ \  \___|\ \  \_|\ \ \  \_|\ \ \  \|\  \ \  \ \  \ \  \\\  \|____|\  \   \ \  \ 
			____\_\  \ \__\    \ \_______\ \_______\ \_______\ \__\ \__\ \_______\____\_\  \   \ \__\
		   |\_________\|__|     \|_______|\|_______|\|_______|\|__|\|__|\|_______|\_________\   \|__|
		   \|_________|                                                          \|_________|        
	</pre>
	<div class="intro center">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis fugiat esse, consectetur ullam delectus aut ratione minus minima pariatur ducimus odit amet quaerat itaque sit perspiciatis, tenetur molestias, quae at.
	</div>
		<script type="module" src="src/scripts/main.js"></script>
		
	<div  style="width: 50px; height 50px; background-color: blue;">

		
	</div>

</Layout>

<style>
	  p {
		font-family: UniFont;
	  }
	  .center {
        margin:auto;
        width: 50%;
        text-align: center;
    }
	.intro {
		background-color: darkblue;
		border-radius: 10px;
		border: 2px solid black;
	}
	
</style>
