
<div class="navbar center">
    <ul>
        <li><a href="/">Home</a></li>
        <li>|</li>
        <li><a href="/">Portfolio</a></li>
        <li>|</li>
        <li><a href="/blog">Blog</a></li>
        <li>|</li>
        <li><a href="">Projects</a></li>
    </ul>
</div>

<style>
    * {
        font-family: UniFont;
    }
    .center {
        margin:auto;
        width: 50%;
        text-align: center;
    }
    li {
        display: inline;
        
    }
    a:hover {
            background-color: black;
            color:white;
        }
    a {
        text-decoration: none;
        color: white;
    }
</style>